body {
    background-image: url(6d5938dd7b271e9ad1112ac481c2c4d9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.heads-button,
.tails-button,
.reset-button {
    width: 300px;
    height: 70px;
    margin: 25px;
    font-size: 55px;
    font-family: Frijole, Arial;
    border-radius: 20px;
    border: none;
    opacity: 0.80;
    color: rgba(29, 109, 29, 0.904);

}

.js-coin, .js-player-move, .js-result{
    font-size: 30px;
    font-weight: bold;
    color: rgb(233, 241, 236);
    background-color: rgba(1, 4, 1, 0.637);
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

